{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <h1>Please Login</h1>
  <form  action="{% url 'basic_app:user_login' %}" method="post">
      {% csrf_token %}
      <h3><label for="username">Username:</label>
      <input type="text" name="username" placeholder="Enter Username"></h3>
      <h3><label for="password">Password:</label>
      <input type="password" name="password"></h3>
      <h3 id="x6"><input type="submit" class="button" value="Login"></h3>
  </form>
</div>

{% endblock %}
