{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="panel-group">


    {% for obj in user_commit %}
      <div class="list-group">
        <div class="panel-heading">
          <h2 id="x3">Repo Name:{{repo_name}}</h2>
        </div>
        <div class="panel-body">
          <h3 id="x2"><ins>Commit Author</ins>:  {{ obj.commit.author.name }}</h3>
          <h3 id="x2"><ins>Commit Message</ins>:  {{ obj.commit.message }}</h3>
          <h3 id="x2"><ins>Commit Date</ins>:  {{ obj.commit.author.date }}</h3>
        </div>

      </div>
      <br>
      <br>
      {% endfor %}



</div>

{% endblock %}
