{% extends "basic_app/base.html" %}

{% block body_block %}
<div class="jumbotron">


<h1>Name:PARAG VAID</h1>
<h3>Contact Me:<a href="https://github.com/parag1999"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="img-circle" width="50px" height="50px"></a></h3>

  {% if enquiry %}

    <h2>Thank You For Enquiring will get to you as soon as possible</h2>
  {% else %}
  <h1>Enter Your query here</h1>
    <form action="{% url 'basic_app:about_me' %}" method="post">
      {{contact_message_1.as_p}}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  {% endif %}

</div>
{% endblock %}
