{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
  <h1>USERNAME:{{user_data.name}}</h1>
  <h2>PUBLIC REPOS:{{user_data.public_repos}}</h2>
  <div class="jumbotron">
    {% for name in repo_data %}
      <ul>
        <li><h3>PROJECT NAME:{{ name.name }}</h3></li>
        <li><h3>PROJECT LANGUAGE:{{ name.language }}</h3></li>
        <li><h3>PROJECT LINK:<a href="https://github.com/{{name.owner.login}}/{{name.name}}">Click Here</a></h3></li>
      </ul>
      <br>
      <br>
      {% endfor %}
    </div>


</div>

{% endblock %}
